<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PaymentSpring Demo site</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

		<header>
			<img src="img/logo-header.png" alt="PaymentSpring">
		</header>

		<section role="main">
	        <ul id="card_errors" class="errors">
				<li style="display: none"></li>
				<% if defined?(@errors) then @errors.each do |e| %>
				   <li><%=e["message"]%></li>
				<% end end %>
			</ul>
			<form action="/" method="post" id="form">
				<p class="price"><strong>Amount:</strong> $20.00</p>
				<label for="name">Cardholder Name</label>
				<input type="text" id="name" name="name">
				<label for="cc">Credit Card Number</label>
				<input type="text" id="cc" name="cc">
				<label for="csc">CSC</label>
				<input type="text" id="csc" name="csc">

				<label for="month">Expiration Month</label>
				<select id="month">
					<option></option>
					<option value="1">01</option>
					<option value="2">02</option>
					<option value="3">03</option>
					<option value="4">04</option>
					<option value="5">05</option>
					<option value="6">06</option>
					<option value="7">07</option>
					<option value="8">08</option>
					<option value="9">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
				</select>

				<label for="year">Expiration Year</label>
				<select id="year">
	                <option></option>
	                <option value="2013">2013</option>
	                <option value="2014">2014</option>
	                <option value="2015">2015</option>
	                <option value="2016">2016</option>
	                <option value="2017">2017</option>
	                <option value="2018">2018</option>
	                <option value="2019">2019</option>
	                <option value="2020">2020</option>
	                <option value="2021">2021</option>
	                <option value="2022">2022</option>
	                <option value="2023">2023</option>
	                <option value="2024">2024</option>
				</select>
				<p class="warning">Since this account is using test keys, you must use <a href="https://www.paymentspring.com/docs/test_data">valid test card data</a></p>
				<input type="hidden" name="token" id="token">
				<input type="button" onClick="makeToken()" value="Charge">
			</form>
		</section>

		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="https://www.paymentspring.com/js/paymentspring.js"></script>
		<script src="/js/main.js"></script>
    </body>
</html>
